<article class="sighting">
  <section class="index">
    <article class="headline">
      <section>
        <header>
          <h2>Jurassic Park</h2>
        </header>
      </section>
      <section class="byline">
        <span><a href="">clickr</a></span>
        <span>Flagged X mins|hours|days|weeks ago from SOURCE by AUTHOR</span>
      </section>
      <footer>
        <ul>
          <li>
            <a href="#">Sources</a>
          </li>
          <li>
            <a href="#">Mentions</a>
          </li>
          <li>
            <a href="#">Sentiment</a>
          </li>
          <li>
            <a href="#">Share</a>
          </li>
        </ul>
      </footer>
    </article>
    <section class="trend">
      Trending Trending Trending
    </section>
    <article class="d_content">
      <section class="details">
        <div class="col col1">
          <div class="img">
            image
          </div>
          <div class="keywords">
            <a href="#">Lorem</a> <a href="#">ipsum</a> <a href="#">dolor</a> <a href="#">sit</a> <a href="#">amet</a> <a href="#">consectetur</a> <a href="#">adipiscing</a> <a href="#">elit</a>
          </div>
        </div>
        <div class="col col2">
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dignissim, metus nec faucibus eleifend, dolor libero mattis arcu, in porta neque libero et augue. Donec pharetra feugiat purus, et aliquet mi congue et. Nam ut commodo nunc, vitae laoreet libero. Vestibulum volutpat sit amet nunc eu tempor. Proin vehicula rutrum risus, non congue velit fermentum a. Nam nec dapibus magna. Quisque ornare orci eget nulla venenatis elementum nec eu justo.
          </div>
          <div class="analysis">
            <div class="graph sentiment">
              Sentiment Graph
            </div>
            <div class="graph trending">
              Trending Graph
            </div>
            <div class="graph trending">
              Trending Graph 2
            </div>
          </div>
        </div>
      </section>
    </article>
  </section>
</article>

<article class="sighting">
  <section class="index">
    <article class="headline">
      <section>
        <header>
          <h2>Jurassic Park</h2>
        </header>
      </section>
      <section class="byline">
        <span><a href="">clickr</a></span>
        <span>Flagged X mins|hours|days|weeks ago from SOURCE by AUTHOR</span>
      </section>
      <footer>
        <ul>
          <li>
            <a href="#">Sources</a>
          </li>
          <li>
            <a href="#">Mentions</a>
          </li>
          <li>
            <a href="#">Sentiment</a>
          </li>
          <li>
            <a href="#">Share</a>
          </li>
        </ul>
      </footer>
    </article>
    <section class="trend">
      Trending Trending Trending
    </section>
    <article class="d_content on">
      <section class="details">
        <div class="col col1">
          <div class="img">
            image
          </div>
          <div class="keywords">
            <a href="#">Lorem</a> <a href="#">ipsum</a> <a href="#">dolor</a> <a href="#">sit</a> <a href="#">amet</a> <a href="#">consectetur</a> <a href="#">adipiscing</a> <a href="#">elit</a>
          </div>
        </div>
        <div class="col col2">
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dignissim, metus nec faucibus eleifend, dolor libero mattis arcu, in porta neque libero et augue. Donec pharetra feugiat purus, et aliquet mi congue et. Nam ut commodo nunc, vitae laoreet libero. Vestibulum volutpat sit amet nunc eu tempor. Proin vehicula rutrum risus, non congue velit fermentum a. Nam nec dapibus magna. Quisque ornare orci eget nulla venenatis elementum nec eu justo.
          </div>
          <div class="analysis">
            <div class="graph sentiment">
              Sentiment Graph
            </div>
            <div class="graph trending">
              Trending Graph
            </div>
            <div class="graph trending">
              Trending Graph 2
            </div>
          </div>
        </div>
      </section>
    </article>
  </section>
</article>
